{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>Login</h1>
        <form class="form-horizontal" action="login" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}" class="col-md-5 control-label" style="color: red" >
                    <span class="glyphicon glyphicon-user"></span>
                    Username
                </label>
                <div class="col-md-6 text-left">
                    {{ form.username }}
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}" class="col-md-5 control-label" style="color: blue">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    Password
                </label>
                <div class="col-md-6 text-left">
                    {{ form.password }}
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Login">
        </form>
        <a class="btn btn-info" href="{% url 'Account:register' %}">Register</a>
    </div>
{% endblock %}