{% extends "base.html" %}

{% block title %}
    Password Reset
{% endblock %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>Forgotten your password? Reset please</h1>
        <form action="{% url "Account:password_reset" %}" class="form-horizontal" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-md-5 text-right control-label">Email</label>
                <div class="col-md-5 text-left">{{ form.email }}</div>
            </div>
            <input type="submit" class="btn btn-primary" value="Send Email">
        </form>
    </div>
{% endblock %}