{% extends "base.html" %}

{% block title %}
    Password change
{% endblock %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>Password change</h1>
        {% if form.new_password1.help_text %}
            <div class="text-left" style="margin-left: 400px">
                <p>{{ form.new_password1.help_text|safe }}</p>
            </div>
        {% endif %}

        <form action="{% url 'Account:password_change' %}" class="form-horizontal" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="" class="col-md-5 control-label text-right">{{ form.old_password.label_tag }}</label>
                <div>
                    {{ form.old_password }}
                </div>
            </div>

             <div class="form-group">
                <label for="" class="col-md-5 control-label text-right">{{ form.new_password1.label_tag }}</label>
                <div>
                    {{ form.new_password1 }}
                </div>
            </div>

             <div class="form-group">
                <label for="" class="col-md-5 control-label text-right">{{ form.new_password2.label_tag }}</label>
                <div>
                    {{ form.new_password2 }}
                </div>
            </div>
            <input type="submit" class="btn btn btn-primary" value="Submit">
        </form>
    </div>
{% endblock %}