{% extends "base.html" %}
{% block title %}
    Password reset confirm
{% endblock %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>Reset password</h1>
        <p>Enter new password</p>
        <form action="." class="form-horizontal" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="" class="col-md-5 control-label text-right">New Password</label>
                <div class="col-md-6 text-left">
                    {{ form.new_password1 }}
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-md-5 control-label text-right">Confirm Password</label>
                <div class="col-md-6 text-left">
                    {{ form.new_password2 }}
                </div>
            </div>
            <input type="submit" value="Change Password" class="btn btn-primary">
        </form>

    </div>
{% endblock %}