{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Self Profile
{% endblock %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
    <h1>My information</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 text-right"><span>Username:</span></div>
                <div class="col-md-8 text-left">{{ user.username }}</div>
            </div>

            <div class="row">
                <div class="col-md-4 text-right"><span>Email:</span></div>
                <div class="col-md-8 text-left">{{ user.email }}</div>
            </div>

            <div class="row">
                <div class="col-md-4 text-right"><span>Birthday:</span></div>
                <div class="col-md-8 text-left">{{ user_profile.birthday }}</div>
            </div>

            <div class="row">
                <div class="col-md-4 text-right"><span>Phone:</span></div>
                <div class="col-md-8 text-left">{{ user_profile.phone }}</div>
            </div>

            <div class="row">
                <div class="col-md-4 text-right"><span>School:</span></div>
                <div class="col-md-8 text-left">{{ user_info.school }}</div>
            </div>

            <div class="row">
                <div class="col-md-4 text-right"><span>Address:</span></div>
                <div class="col-md-8 text-left">{{ user_info.address }}</div>
            </div>

            <div class="row">
                <div class="col-md-4 text-right"><span>AboutMe:</span></div>
                <div class="col-md-8 text-left">{{ user_info.aboutme }}</div>
            </div>

            <a class="btn btn-primary" href="{% url "Account:edit_self_profile" %}">Edit profile</a>

        </div>
        <div class="col-md-6">
            <div style = "margin-right: 100px">
                {% if user_profile.avatar %}
                    <img src="{{ user_profile.avatar|striptags }}" alt="Avatar" class="img-circle" id="img_avatar">
                {% else %}
                    <img src="{% static "images/default_avatar.jpg" %}" alt="Avatar" class="img-circle" id="img_avatar">
                {% endif %}
            </div>
            <div style="margin-right: 100px">
                <button class="btn btn-primary" id="btn-upload-avatar" onclick="upload_avatar()">
                    Upload
                </button>
            </div>

        </div>
    </div>
    </div>
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/layer.js" %}"></script>
    <script>
        function upload_avatar() {
            layer.open({
                title: "Upload Avatar",
                area: ['650px', '600px'],
                type: 2,
                content: "{% url "Account:image_crop" %}"
            })
        }
    </script>
{% endblock %}