{% extends 'Article/base.html' %}
{% load staticfiles %}
{% block title %}
    {{ article.title }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{%  static 'editor/css/editormd.preview.css'%}">
{% endblock %}
{% block content %}
    <header>
        <h1>{{ article.title }}</h1>
        <p>{{ article.author }}</p>
    </header>
    <div id="editormd-view">
        <textarea name="" id="append-test" style="display: none">
{{ article.body }}
        </textarea>
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'editor/lib/marked.min.js' %}"></script>
    <script src="{% static 'editor/lib/prettify.min.js' %}"></script>
    <script src="{% static 'editor/lib/raphael.min.js' %}"></script>
    <script src="{% static 'editor/lib/underscore.min.js' %}"></script>
    <script src="{% static 'editor/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'editor/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'editor/lib/jquery.flowchart.min.js' %}"></script>
    <script src="{% static 'editor/editormd.js' %}"></script>
    <script>
        $(function () {
            editormd.markdownToHTML("editormd-view", {
                htmlDecode: "style, script, iframe",
                emoji: true,
                taskList: true,
                tex: true,
                flowChart: true,
                sequenceDiagram: true
            })
        });
    </script>
{% endblock %}