{% extends 'Article/base.html' %}
{% load staticfiles %}
{% block title %}
    {{ article.title }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{%  static 'editor/css/editormd.preview.css'%}">
{% endblock %}
{% block content %}
{% with toal_likes=article.user_like.count   user_likes=article.user_like.all%}
<div class="container">
    <header>
        <h1>{{ article.title }}</h1>
        <a href="{% url 'Article:author_article_titles' article.author.username %}">
            {{ article.author.username }}
        </a>
        <span style="margin-left: 20px" class="glyphicon glyphicon-thumbs-up">
            {{ toal_likes }}like{{ toal_likes|pluralize }}
        </span>

       <span class="glyphicon glyphicon-eye-open" style="margin-left: 20px">
            {{ total_views }}View{{ total_views|pluralize }}
        </span>
    </header>
    <div id="editormd-view">
        <textarea name="" id="append-test" style="display: none">
{{ article.body }}
        </textarea>
    </div>
</div>

{% endwith %}
{% endblock %}

{% block js %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'editor/lib/marked.min.js' %}"></script>
    <script src="{% static 'editor/lib/prettify.min.js' %}"></script>
    <script src="{% static 'editor/lib/raphael.min.js' %}"></script>
    <script src="{% static 'editor/lib/underscore.min.js' %}"></script>
    <script src="{% static 'editor/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'editor/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'editor/lib/jquery.flowchart.min.js' %}"></script>
    <script src="{% static 'editor/editormd.js' %}"></script>
    <script src="{% static 'js/layer.js' %}"></script>
    <script>
        $(function () {
            editormd.markdownToHTML("editormd-view", {
                htmlDecode: "style, script, iframe",
                emoji: true,
                taskList: true,
                tex: true,
                flowChart: true,
                sequenceDiagram: true
            })
        });

    </script>

{% endblock %}