{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    ArticleTitles
{% endblock %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>Article list</h1>
    </div>

    <div class="container">
        <div class="col-md-8">
            {% for article in articles %}
            <div class="list-group">
                <a href="{% url 'Article:article_list_detail' id=article.id slug=article.slug %}" class="list-group-item active">
                    <h4 class="list-group-item-heading">{{ article.title }}</h4>
                    <p class="list-group-item-text">Author:<a href="{% url 'Article:author_article_titles' article.author.username %}">{{ article.author.username }}</a>
                    </p>
                    <p class="list-group-item-text">Summary: {{ article.body|slice:'70'|linebreaks }}</p>
                </a>
            </div>
            {% endfor %}
            {% include 'Article/pagination.html' %}
        </div>
        <div class="col-md-4">
            {% if user_profile.avatar %}
                <img src="{{ user_profile.avatar|striptags }}" alt="UserAvatar" class="img-circle">
            {% else %}
                <img src="{%  static 'images/default_avatar.jpg'%}" alt="UserAvatar" class="img-circle">
            {% endif %}
            <p>{{ user.username }}</p>
            {% if user_profile %}
                <p>{{ user_profile.phone }}</p>
            {% else %}
                <p>There's nothing!!!</p>
            {% endif %}
        </div>
    </div>
{% endblock %}